<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rinseg.asistp.com.rinseg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="rinseg.asistp.com.intent_services.RopIntentServices"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="rinseg.asistp.com.ui.activities.ActivitySplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rinseg.asistp.com.ui.activities.ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="rinseg.asistp.com.ui.activities.ActivityMain"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="rinseg.asistp.com.ui.activities.ActivityInspeccionDetalle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="rinseg.asistp.com.ui.activities.ActivityFotoComentario"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="rinseg.asistp.com.receive.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="rinseg.asistp.com.ui.activities.ActivityRopCerradoDetalle"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>